.slider-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #222222;
    padding: 25px 0px;
}

.image-slider {
    width: 100%;
    height: auto;
}

.slider-image {
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.slider-container .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
    color: #f0a500;
}

.swiper-pagination-bullet {
    background: white;
}

.swiper-pagination-bullet-active {
    background: #f0a500;
}